@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y:scroll;
    overflw-x: hidden;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #f43f5e #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: #1e293b;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f43f5e;
    border-radius: 10px;
    border:1px solid #000;
  }